
@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<a class ="btn-block" asp-controller="Adminlogin" asp-action="Index">Login </a>

<a class="btn-block" asp-controller="Adminlogin" asp-action="Index">Register </a>
